<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>PLACEHOLDER</title>
</head>
<body>
    <div id="app">
        <h1>PLACEHOLDER</h1>
        <p>PLACEHOLDER</p>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>