<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/common_form.js') }}"></script>
    <title>Register</title>
</head>
<body>

    {% include 'navbar.html' %}

    <div id="form_container">
        <form id="common_form", name="register_form" onsubmit="event.preventDefault(); submitForm('register_form', '/register', onSuccess, onError);">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <label for="First Name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
            <label for="Last Name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
            <button type="submit" name="submit_btn" value="Submit">Register</button>
            <button onclick="location.href='/login'" name="redirect_btn">Login</button>
        </form>
    </div>
</body>
</html>